.contr {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 10%;
    height: 100%;
    padding: 0%;
}

.contr img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    cursor: pointer;
}