.color-panel {
    display: flex;
    width: 540px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    grid-column: 2;
}

.color-panel div {
    width: 50px;
    height: 50px;
    justify-self: center;
    box-sizing: border-box;
    border: 2px #999;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 12px;
}

.end {
    width: 54px;
    cursor: pointer;
    transition: .5s;
}


.end:hover {
    transform: rotate(-360deg);
}