<div class="wrapper">
    <app-stars [count]="3" *ngIf="this.GameService.GAME_DIFFICULTY"></app-stars>
    <div class="game">
        <div class="field" *ngIf="!this.GameService.GAME_DIFFICULTY">
            <game-diff></game-diff>
        </div>
        <div *ngIf="this.GameService.GAME_DIFFICULTY"
            [ngClass]="{ field : true, easy : this.GameService.GAME_DIFFICULTY === 10, medium: this.GameService.GAME_DIFFICULTY === 13, hard: this.GameService.GAME_DIFFICULTY === 16 }">
            <game-cell *ngFor=" let x of GameService.arrayOfCells; let i=index" [data]="x" [index]="i">
            </game-cell>
        </div>
        <game-color-panel></game-color-panel>
    </div>
</div>