<div [ngClass]="{ wrap: data.isMine, 'from-wrap': !data.isMine }">
    <div [ngClass]="{ message: data.isMine, 'from-message': !data.isMine }">
        <div [ngClass]="{ name: data.isMine, 'from-name': !data.isMine }">
            {{ data.user }} | ( {{ (data.game === '' ? "resting" : data.game) }} )
        </div>
        <div class="text">{{ data.text }}</div>
        <div [ngClass]="{ time: data.isMine, 'from-time': !data.isMine }">
            {{ this.ChatService.getCurrentTime(data.time) }}
        </div>
    </div>
    <div [ngClass]="{ circle: data.isMine, 'from-circle': !data.isMine }"></div>
</div>